
<%= image_tag "createT.png", class:"back-img"%>
  <div class="cl">
    <h1>CREATE YOUR TEAM !</h1>
  </div>

  <div class = "link-form">
    <%= simple_form_for([@league,@team]) do |f| %>
    <%= f.input :name,label: false, placeholder: "Type your team's name" %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Build your team!",class:"submit_league" %>
  <% end %>
  </div>
  
