<div class="super-container">
  <div class="left-container">
    <div class="intro-msg">
      <h1> Hi <%=@team.name%> ! </h1>
      <h1>Pick your players!</h1> 
      <p>Find in the following list the players you need to win the <%=@team.league.name%> !</p>
    </div>
    <div data-controller="search" class="form-search">
      <%= form_with url: team_path, method: :get, html: {class:"mb-4", data: {search_target: "form"}} do |form| %>
        <%= form.text_field :first_name, value:params["first_name"], placeholder: "Type the player's name", data: {search_target: "name", action: "keyup->search#update"} %>
        <%= form.text_field :current_team, value:params["current_team"], placeholder: "Current team",data: {search_target: "team", action: "keyup->search#update"} %>
        <%= form.label :position, 'Position:' %>
        <select name="position" id="position" data-search-target= "position"  data-action="change->search#update">
          <% @unique_positions.prepend("Any").each do |p| %>
            <option value="<%= p %>" <%= @position == p ? "selected" : "" %> ><%= p %></option>
          <% end %>
        </select>
        <%= form.number_field :min_price, value:params["min_price"], placeholder: "Min price",data: {search_target: "min", action: "keyup->search#update"}%>
        <%= form.number_field :max_price, value:params["max_price"],placeholder: "Max price",data: {search_target: "max", action: "keyup->search#update"} %>
        <%= form.submit "Search" %>
      <% end %>

    <%= render "list", players: @players %>
    </div>

  </div>
  <div class="right-container">
  <%if @team.photo.key.blank?%>
  <%= image_tag "logo_update2.png"%>
  <%else%>
  <%= cl_image_tag @team.photo.key%>
  <%end%>
    <div class="shopinfo">
      <h4> My shopping list !</h4>
        <h6> Budget: <%= number_to_currency(@team.budget, unit: '€', precision: 0) %> </h6>
        <h6> You have selected <%= @team.team_players.count %> players </h6>
    </div>
      <div class="shopdetails">
        <% @team.team_players.each do |t_player| %>
        <br/>
        <%= t_player.player.first_name.split.last%>
        <form method="PATCH" action='<%="/removefromteam/#{t_player.id}?" %>'>
                    <button type="submit" class="btn btn-danger">
                      Delete
                    </button>
                  </form>
        <% end %>
        <h6> Your team is valuated at <%= number_to_currency(@team.valo, unit: '€', precision: 0) %> </h6>
      </div>
      <form method="PATCH" action='<%="/leagues/#{@league.id}" %>'>
                    <%if @team.team_players.count > 11%>
                      <button type="button" class="btn btn-success btn-buy-player"
                        data-controller="sweetalert"
                        data-action="click->sweetalert#initSweetalert"
                        data-sweetalert-title-value="Your team is ready !"
                        data-sweetalert-icon-value="question"
                        data-sweetalert-html-value="Can you confirm the selected players and start the competition ?"
                        data-sweetalert-confirm-button-text-value="OK"
                        data-sweetalert-show-cancel-button-value="true"
                        data-sweetalert-cancel-button-text-value="NO"
                        data-turbo="false"
                        >
                        Validate
                      </button>
                    <%else%>
                      <button type="button" class="btn btn-success btn-buy-player"
                          data-controller="sweetalert"
                        data-action="click->sweetalert#initSweetalert"
                        data-sweetalert-title-value="Your must have at least 11 players in your squad!"
                        data-sweetalert-icon-value="error"
                        data-sweetalert-html-value=""
                        data-sweetalert-confirm-button-text-value="OK"
                        data-turbo="false"
                        >
                        Validate
                      </button>
                    <%end%>
                  </form>
  </div>
</div>

