

  <%= image_tag "createL.png", class:"back-img"%>
  <div class= "leagues">
    <ul class = "link_info">
      <% @leagues.each do |league| %>
        <li>
          <%= league.name %>
          <%= link_to "Add Team",new_league_team_path(league),class: "mybtn" unless league.teams.where(user:current_user).first  %>
          <%= league.teams.where(user:current_user).first.name if league.teams.where(user:current_user).first  %>
          <%= link_to "Show team",league_team_path(league.id, league.teams.where(user:current_user).first.id),class: "mybtn"  if league.teams.where(user:current_user).first %>
        </li>
      <% end %>  
    </ul>

  </div>
  <div class="cl">
    <h1>CREATE YOUR LEAGUE !</h1>
  </div>
  <div class = "link-form">
    <%= simple_form_for(@league) do |f| %>
    <%= f.input :name,label: false, placeholder: "Type your league's name" %>
    <%= f.submit "Create !",class:"submit_league" %>
  <% end %>
  </div>