<div id="home-page">
  <div class="main-container">
    <%=image_tag'image2.png',class:'floating-img'%>

  <div class="left-container">
    <h1>PLAY WITH YOUR FRIENDS,<br>WIN OR LOSE BUT <span class="flashing-text">ALWAYS HAVE A FUN</span> !</h1>
    <div class="d-flex justify-content-around">
  <% if user_signed_in? %>
    <a class="click-btn btn-style511 buttonlogin" href="<%= new_league_path %>"><span>Start !</span></a>
  <% else %> 
    <a class="click-btn btn-style511 buttonlogin" href="<%= new_user_session_path%>"><span>Login</span></a>
    <a class="click-btn btn-style511 buttonsingup" href="<%= new_user_registration_path%>"><span>Sign up</span></a>
   <% end%>
    </div>
  </div>

  <div class="right-container">
    <div class= 'image-player' style='background-image: url(<%=image_path "image1.png"%>)' >
    </div>
    <div class='barre'>
    </div>
  </div>
</div>

<div class='milieu'>

</div>
<div class='bas'>
  <div class="how-does-it-works">
    <div class="hDW1">
      <span class= hdwimg> <%=image_tag'Joinaleague.png' %> </span>
      <h2 style="color: white;" id="Join a league"> >>> Join a league </h2>
    </div>
    <div class="hDW1">
      <span class= hdwimg> <%=image_tag'buildteam.png'%> </span>
      <h2 style="color: white;" id="Build your team"> >>> Build your team  </h2>
    </div>
    <div class="hDW1">
      <span class= hdwimg> <%=image_tag'competewithyourfriends.png'%> </span>
      <h2 style="color: white;" id="challenge your friends"> >>> Challenge your friends !</h2>
    </div>
  </div>
  </div>
</div>
